<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <title>SMS</title>

    <!-- Bootstrap core CSS -->
  
    <link rel="stylesheet" type="text/css" href="{% static 'sms/css/cover.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'sms/css/bootstrap.min.css' %}" />
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            	<!-- <a class="masthead-brand" href="http://www.iiests.ac.in/">
					<img alt="Brand" src="/static/sms/img/iiest.jpeg">
				</a> --> 
            	<h2 class="masthead-brand">Stock Management System</h2>
            </div>
          </div>

          <div class="inner cover">
            <h2 class="cover-heading">Do Stuffs...</h2>
            <li><a href="sms/productupdate/">Product Update</a></li>
  		      <li><a href="sms/productdetails/">Product Details</a></li>
            <li><a href="sms/productquiery/">Product search</a></li>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/sms/js/bootstrap.min.js"></script>

  </body>
</html>

