<html>
	<body>

		<h2> Login page</h2>
		{% if form.errors %}
		     <form action="/register/accounts/login_view/" >Try again with proper username and password .
		     <input type="submit" value="login">
		{% endif %}
		
		  <form action="/register/accounts/login_view/" method="post">{% csrf_token %}

		    <label for="username">User name:</label>
		    <input type="text" name="username" value="" id="username">
		    <label for="password">Password:</label>
		    <input type="password" name="password" value="" id="password">

		    <input type="submit" value="login" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
		  </form>

	</body>
</html>